<!DOCTYPE html>
<html lang="en">
<head>
  
  
  <%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> %>
  
  <%# <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/> %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <title>会社概要</title>
  <%# <%= csrf_meta_tags %> %>
  <%# <%= csp_meta_tag %> %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%# <%= javascript_include_tag 'application' %> %>
</head>
<body>
  
  <div class=body-inner>
    <div class=title>
      <a><h1 class="company-name-about"><i class="far fa-building"></i>　会社概要　<i class="far fa-building"></i></h1></a>
    </div>
    <div class=key>
      <h1>代表者名</h1> 
    </div>
    <div class=value>
      <h2>久野 真也</h2>
    </div>
    <div class=key>
      <h1>住所</h1>
    </div>
    <div class=value-map>
      <h2>〒840-0815佐賀県佐賀市天神１丁目２番５５号 益本天神ビル５Ｆ</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3336.262248494102!2d130.29442831519438!3d33.25962608082904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3541ca6da81c02bf%3A0x4bbc1c47129449ac!2z44CSODQwLTA4MTUg5L2Q6LOA55yM5L2Q6LOA5biC5aSp56We77yR5LiB55uu77yS4oiS77yV77yVIOebiuacrOWkqeelnuODk-ODqyDvvJXvvKY!5e0!3m2!1sja!2sjp!4v1578638687621!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <div class=key>
      <h1>事業内容</h1>
    </div>
    <div class=value>
      <h2>飲食店経営（佐賀市内に７店舗、長崎市内に１店舗、大分市内に１店舗）</h2>
    </div>
    <div class=key>
      <h1>従業員数</h1>
    </div>
    <div class=value>
      <h2>企業全体:120人</h2>
    </div>
    <div class=key>
      <h1>法人番号</h1>
    </div>
    <div class=value>
      <h2>4300001008058</h2>
    </div>
    <div class=key>
      <h1>関連会社</h1>
    </div>
    <div class=value>
      <h2>U.アソシエート株式会社　　一般社団法人あすなろサポート</h2>
    </div>
  </div>  
</body>  