<!DOCTYPE html>

<body>
  
  <section class=concept>
    <div class=concept-innner>
      <h3 class=concept-title>地元の方においしさを届ける</h3>
      <p class=concept-text>当社は、飲食事業を通じて、<br>地元の方々に愛される会社を目指します。</p>
    </div>
  </section>
  <%# <section class=servise-contents> %>
    <%# <h1 class=service-list-font>Servicce list</h1> %>
  <%# </section> %>
  <section class=servise id="servise">
    <div class=service-inner>
      <ul class=contents-row-one>
        <li class=content>
          <a href="http://tomoru.area9.jp/" target="_blank"><img src="https://uds.gnst.jp/rest/img/r77wg72e0000/s_0na2.jpg"></a>
          <p><b class="store-name">Tomoru</b><br>☎︎(0952)33-5133<br>〒849-0937<br>佐賀市鍋島2-5-27</p>
        </li>
        <li class=content>
          <a href="http://roku.area9.jp/" target="_blank"><img src="https://uds.gnst.jp/rest/img/eau75p8y0000/s_0n7e.jpg"></a>
          <p><b class="store-name">禄</b><br>☎︎(0952)27-6266<br>〒840-0812<br>佐賀市愛敬町13-13</p>
        </li>
        <li class=content>
          <a href="https://www.anbata-enbata.com/" target="_blank"><img src="https://www.anbata-enbata.com/assets/images/page/topHeader02.jpg"></a>
          <p><b class="store-name">あんバター∞えんバター</b><br>☎︎(0952)37-1025<br>〒840-0801<br>佐賀市駅前中央1丁目13-8</p>
        </li>
      </ul>
      <ul class=contents-row-two>
        <li class=content>
          <a href="http://tomoruya.area9.jp/" target="_blank"><img src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/11002619_639706062842469_1185099978879054427_n.jpg?_nc_cat=102&_nc_ohc=SyoNu8K_KCgAQls2dXBB7LDLdUzbqTjBKibX7qeNHh5OQRA7xFTkQG7XA&_nc_ht=scontent-nrt1-1.xx&oh=fb1691e854a636b8f2588d8c8233d67f&oe=5E9F5339"></a>
          <p><b class="store-name">Tomoru屋</b><br>☎︎(0952)26-6001<br>〒840-0824<br>佐賀市呉服元町6-8</p>
        </li>
        <li class=content>
          <a href="https://r.gnavi.co.jp/djbm5g290000/" target="_blank"><img src="http://tomoru.area9.jp/image/banner_ultra.jpg"></a>
          <p><b class="store-name">うる寅</b><br>☎︎(0952)97-6650<br>〒840-0831<br>佐賀市松原町2丁目1-15</p>
        </li>
        <li class=content>
          <a href="https://www.celeb-kojo.com/" target="_blank"><img src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/56472462_575412369624336_3467451514673430528_o.png?_nc_cat=109&_nc_ohc=UV1ySqfK_7sAQmbBF1QYFQpTtxOCjxc_4AzPefBPDI7p8M38u-aKCYTkg&_nc_ht=scontent-nrt1-1.xx&oh=1835e66ca54e9cf0ef429a3404216354&oe=5EA07BF2"></a>
          <%# <p class=store-address>浜町店</p> %>
          <p><b class="store-name">セレブ工場（浜町店）</b><br>☎︎(095)801-0411<br>〒801-0411<br>長崎県長崎市浜町6-22</p>
        </li>
      </ul>
      <ul class=contents-row-three>
        <li class=content>
          <a href="http://tomozo.area9.jp/" target="_blank"><img src="https://www.suntory.co.jp/shop_img/l/0X00296033_l1.jpg"></a>
          <p><b class="store-name">とも蔵</b><br>☎︎(0952)29-1955<br>〒840-0801<br>佐賀市駅前中央1-4-6<br>モードビル5　3F</p>
        </li>
        <li class=content>
          <a href="https://sagagourmet.sagafan.jp/e910463.html" target="_blank"><img src="https://media-cdn.tripadvisor.com/media/photo-s/15/00/e2/d3/2.jpg"></a>
          <p><b class="store-name">HARU cafe</b><br>☎︎(0952)37-3366<br>〒840-0831<br>佐賀市松原2丁目2-27<br>バルーンミュージアム2F</p>
        </li>
        <li class=content>
          <a href="https://www.celeb-kojo.com/" target="_blank"><img src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/56472462_575412369624336_3467451514673430528_o.png?_nc_cat=109&_nc_ohc=UV1ySqfK_7sAQmbBF1QYFQpTtxOCjxc_4AzPefBPDI7p8M38u-aKCYTkg&_nc_ht=scontent-nrt1-1.xx&oh=1835e66ca54e9cf0ef429a3404216354&oe=5EA07BF2"></a>
          <%# <p class=store-address>府内町店</p> %>
          <p><b class="store-name">セレブ工場（府内町店）</b><br>☎︎(097)574-7451<br>〒870-0021<br>大分県大分市府内町3丁目2-21</p>
        </li>
      </ul>
      </ul>  
    </div>
  </section>
  <section class=initiatives>
    <a href="https://ballooners.jp/" target="_blank" class="ballooners"><img src="https://www.bleague.jp/files/user/common/img/logo/m/sg.png" style="padding-top: 50px; alt="佐賀バルーナーズ"></a>
    <div class=initiatives-text-box>
      <p class=initiatives-text>
        私たちは佐賀バルーナーズを応援しています。
      </p>
    </div>
  </section>
  <footer>
    <div class=footer-menu-innner>
      <ul class=footer-menu-clearfix>
        <li class=home>
          <a href="">株式会社クーイング</a>
        </li>
        <li class=overview>
          <a href="/about">会社概要</a>
        </li>
        <li class=privacy-policy>
          <a>プライバシーポリシー</a>
        </li>
      </ul>
    </div class=footer-menu-innner>
    <div class=copy>
      <p class=copy-text>
        Copyright COOING Co.,Ltd. All Rights Reserved.
      </p>
    </div>
  </footer>
<script src="script.js"></script>  
</body>  