<body>
  <div class="contact-inner">
    <div class="thanks-wrapper">
        <h1 class="contact-title ">お問い合わせ 送信完了</h1>
        <p class="contact-discription-thanks">
        お問い合わせありがとうございました。<br>
        内容を確認のうえ、回答させて頂きます。<br>
        しばらくお待ちください。
        </p>
        <div  class="button-thanks-clearfix">
          <a href="/">
              <button class="button-thanks">トップに戻る</button>
          </a>
          <a href="/contact">
              <button class="button-thanks">お問い合わせに戻る</button>
          </a>
        </div>  
    </div>
  </div>
</body>