
body {
  height: 100vh;
  width: 100vw;
  
  background-color: wheat;
}

.body-inner {
  /* padding-bottom: 100px; */
  width: 70%;
  padding:100px 0px;
  margin: auto;
  /* border: solid; */
}

.title {
  line-height: 50px;
  text-shadow: 3px 2px 2px white;
  margin: 50px;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.key {
  height: 50px;
  width: 100%;
  background-color: #8b4513b8;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  border-top: solid #ffffff;
  color: wheat;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.value {
  height: 50px;
  width: 100%;
  color: #8b4513b8;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  background-color: rgba(250, 209, 133, 0.62);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.value-map {
  height: 600px;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  background-color: rgba(250, 209, 133, 0.62);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.value-map iframe {
  margin-top: 50px;
}
  
.company-name-about {
  /* margin: 50px; */
  background: linear-gradient(transparent 70%, rgba(250, 209, 133, 0.62) 70%);
}

.company-name-about {
  /* position: relative; */
  padding: 0.25em 0;
}
.company-name-about:after {
  content: "";
  display: block;
  height: 4px;
  background: #8b4513b8;
  
}