.contact-inner {
  /* padding: 150px 0px 100px 0px; */
  padding-top: 100px;
  width: 50%;
  margin: auto; 
  background-color: rgb(250, 209, 133);
  height: calc(100vh - 100px);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.form-wrapper {
}

.contact-title {
  text-shadow: 3px 2px 2px black;
  font-size: 20px;
  line-height: 30px;
  padding: 15px;
  background-color: saddlebrown;
  color: white;
}

.contact-discription,.contact-discription-confirm {
  padding: 15px;
  color: saddlebrown;
}

.form-container {
  text-align: center;
  width: 100%;
  padding: 10px 0px;
}

.form {
  margin: 20px;
  justify-content: space-between;
  display: flex;
}

input,select,textarea {
  width: 400px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
  outline-color: saddlebrown;
}

select {
  width: 420px;
  height: 30px;
  margin-top: 10px;
}

textarea {
  height: 100px;
}

.form-left {
  width: 200px;
  line-height: 52px;
}

.button-clearfix {
  width: 50%;
  margin: auto;
  text-align: center;
}

button {
  height: 40px;
  width: 100%;
  background-color: saddlebrown;
  color: white;
  border: 1px solid rgb(250, 209, 133);
  border-radius: 4px;
  font-size: 18px;
}

.require {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  background: saddlebrown;
  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
}

